.App {
  margin: 0.5rem;
}

.results {
  text-align: center;
  color: #2ecc71;
  font-size: 2rem;
  border: 1px solid #2ecc71;
  margin: 1rem auto;
  max-width: 50vw;
  padding: 1rem 2rem;
}

.results__subtext {
  color: #95a5a6;
  font-size: 1rem;
  margin: 0;
  font-weight: 100;
}

.results__code {
  background: #eff0f1;
  font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
  font-size: 1rem;
  color: initial;
  text-align: left;
}
